.navbar{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 2.5rem 3.5rem;
    font-size: 1.5rem;
    &__list{
        list-style: none;
        
    }
    &__item{
        // padding: 1rem 2.5rem;
        // background-color: $color-white;
        // border-radius: 3px;
        // box-shadow: 0 1rem 3.5rem rgba($color: #000000, $alpha: .2);
    }

    &__link{
        &:link,
        &:visited{
            display: inline-block;
            text-decoration: none;
            text-transform: uppercase;
            border-bottom: 1px solid $color-grey-dark;
            padding: 3px;
            color: $color-grey-dark;
            transition: all 0.2s;

            &:hover{

                box-shadow: 0 1rem 2rem rgba($color-black, .15);
                transform: translateY(-2px);
            }
            &:active{
                box-shadow:  0 .5rem 2rem rgba($color-black, .15);
                transform: translateY(0);
            }
        }

    }
}