$primary : #ff9900;
$color-primary : #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;

$color-secondary-light: #ffb990;
$color-secondary-dark: #ff7730;

$color-tertiary-light: #2998ff;
$color-tertiary-dark: #5643fa;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-grey-dark-2: #999;

$color-white: #fff;
$color-black: #000;

$box-shadow: 0 5px 10px rgba($color-black, .20);


* ,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html{
    font-size: 62.5%; // 1rem = 10px/ 16px = 62.5
}

body{
    box-sizing: border-box;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
      'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
      sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: 1.5rem;
    line-height: 1.7;
    color: $color-grey-dark;
}

.App {
    overflow: auto;
    height: 100vh;
    //background: linear-gradient(89deg, #FF5EDF 0%, #04C8DE 100%);
    background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8));
    background-size: cover;
    background-position: top;
   
    position: relative;
    z-index: 20;
}

.particles{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -1;
}

// this will be used only for the boudry 
.bounding-box{
    position: absolute;
    box-shadow: 0 0 0 3px $color-tertiary-light inset;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    cursor: pointer; 
}

.d-block{
    display: block;
}

//utility Classes
.heading{
    display: block;
    color: inherit;
    font-size: 3.5rem;
    margin: 0 auto 1rem auto;
    
    &-2{
        text-transform: uppercase;
        text-align: center;
    }
}


.paragraph{
    display: block;
    text-align: center;
    font-size: 1.6rem;
    color: $color-grey-dark;
    margin-bottom: 1.5rem;
}